@font-face {
  font-family: "Inter"; /* set name */
  src: url(Inter/Inter-VariableFont_opsz\,wght.ttf); /* url of the font */
}

:root {
  --bg-color: #4e4e4e;
  --text-color: #F1EDEE;
  --red-color: #DB324D;
  --green-color: #99AA38;
  --blue-color: #99ADD6;
}

html, body {
    height:100%;
}

body {
    background-color: #4e4e4e;
    font-family: "Inter";
}

.header {
  overflow: hidden;
  background-color: #616d86;
  padding: 20px 10px;
  margin-bottom: 7%;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: var(--red-color);
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: var(--green-color);
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.layout{
  background-color: #F1EDEE;
  height: 50%;
  margin: 0 auto;
  padding: 1%;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  
}

.title{
  text-align: center;
  padding: 1%;
  font-family: "Inter";
  font-size: 30px;
  background-color: #99add6;
  border-radius: 20px;
}

.textarea{
  background-color: rgb(219, 219, 219);
  color: #000000;
  padding: 1em;
  border-radius: 20px;
  border: 2px solid;
  outline: none;
  font-size: 16px;
  resize: none;
  width: 96.5%;
  height: 50%;
  margin-top: 3%;
  font-family: "Inter";
  overflow: hidden;
}

.checkboxDatePickerContainer{
  padding-top: 2%;
  font-family: "Inter";
  font-size: 19px;
  column-count: 2;
}

.checkbox{
  width: 15px;
  height: 15px;
}

.post {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 1.6%;
}

.postButton {
  background-color: #05ca82; 
  color: black; 
  border: 2px solid #04AA6D;
  float: right;
  margin-right: 5%;
}

.postButton:hover {
  background-color: #03a369; 
  color: rgb(0, 0, 0);
}


input.datePicker{
  width: 20%;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
  font-family: "Inter";
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.starRating{
  user-select: none;
  width: 21%;
  margin-left: 5%;
}

.star{
  font-size: 30px;
  color: #ff9800;
  background-color: unset;
  border: none;
}

.star:hover{
  cursor: pointer;
}

.currentRating{
  user-select: none;
  text-align: center;
}