@font-face {
  font-family: "Inter";
  src: url(/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format("ttf");
  font-weight: bold;
}

:root {
  --bg-color: #4e4e4e;
  --text-color: #f1edee;
  --red-color: #db324d;
  --green-color: #99aa38;
  --blue-color: #99add6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: var(--bg-color);
  color: #e6e6e6;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #616d86;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.header-right {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.header a:hover {
  background-color: var(--red-color);
  color: black;
}

.header a#active {
  background-color: var(--green-color);
  color: black;
}

.searchbar {
  --padding: 14px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: rgba(0, 0, 0, 0.4);
  width: 550px;
  height: 50px;
}

.searchbar a:hover {
  background: rgba(72, 72, 72, 0.4);
}

.search-input {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 550px;
}

.search-input::placeholder,
.search-icon {
  color: rgba(255, 255, 255, 0.5);
}

.header-right .home-icon {
  font-size: 1.8rem;
}

.header-right .profile-icon {
  font-size: 1.8rem;
}

.header-right .noti-icon {
  font-size: 1.8rem;
}

.header-right .tv-icon {
  font-size: 1.8rem;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #111;
  border-bottom: 1px solid #333;
  font-weight: bold;
}

.stat {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: rgba(73, 73, 73, 0.4);
  border-radius: 30px;
  overflow: hidden;
  width: fit-content;
}

.active-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  transition: transform 0.4s ease;
  z-index: 0;
}

.stat-item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  color: #ccc;
}

.stat-item.active {
  color: #fff;
}

.stat-item:hover {
  transform: scale(1.05);
}

.heading {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
}

.stat .active-overlay {
  transform: translateX(0%);
}

* {
  box-sizing: border-box;
}

.poster-section {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  margin: 50px auto;
  padding: 0 40px;
}

.rectangle-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 39px;
  width: 100%;
  padding: 20px;
}

.rectangle {
  flex: 0 0 160px;
  height: 240px;
  background-color: #d3d3d3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-decoration: none;
  border: 5px solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.2s ease;
}

.rectangle:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  border-color: #b22222;
  z-index: 1;
}

#anchor-button {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 99;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: #111;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: opacity 0.5s ease, bottom 0.3s ease;
}

#anchor-button.show {
  opacity: 1;
  visibility: visible;
}

#anchor-button:hover {
  background-color: #1b1b1b;
  bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .searchbar {
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.4);
    width: 350px;
    height: 50px;
  }

  .rectangle-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 39px;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .rectangle-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 39px;
    width: 100%;
    padding: 20px;
  }
}
